
header{
    height: 80px;
}
#logo{
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-left: 10px;
}
#info-cabecalho{
    width: 350px;
    height: 70px;
    margin-top: 5px;
    margin-left: 10px;
}
#boas-vindas{
    font-size: 22px;
}
#link-perfil a{
    font-size: 18px;
    text-decoration: none;
}
nav{
    width: 400px;
    height: 80px;
    line-height: 80px;
}
nav li{
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
    font-size: 22px;
    font-family: "Arial",sans-serif;
}
nav li a{
    color: #555;
}
nav li a:hover{
    text-decoration: none;
}
#foto-menu{
    width: 140px;
    height: 140px;
    margin-right: 50px;
    margin-top: -10px;
}
