header{
    height: 80px;
}
#logo{
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-left: 10px;
}
#info-cabecalho{
    width: 350px;
    height: 70px;
    margin-top: 5px;
    margin-left: 10px;
}
#boas-vindas{
    font-size: 22px;
    margin-top: 15px;
}
nav{
    width: 400px;
    height: 80px;
    line-height: 80px;
}
.titulo{
    margin: 10px 0 !important;
    text-align: center;
}
#login-key{
    width: 50px;
    margin: 0 50px;
}
.left-fieldset{
    width: 40%;
    float: left;
    margin: 10px 0 20px 5%;
    border: 1px #ccc solid;
    padding-bottom: 20px;
}
.right-fieldset{
    width: 40%;
    float: right;
    margin: 10px 5% 20px 0;
    border: 1px #ccc solid;
    padding-bottom: 20px;
}
.subtopico{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #888;
    text-transform: uppercase;
}

.large-input{
    display: inline-block;
    margin: auto 1.25%;
    width: 77.5% !important;
}
.medium-input{
    display: inline-block;
    margin: auto 1.25%;
    width: 57.5% !important;
}
.short-input{
    display: inline-block;
    margin: auto 1.25%;
    width: 32.5% !important;
}
.shorter-input{
    display: inline-block;
    margin: auto 1.25%;
    width: 17.5%;
}
#msg-erro{
    display: inline-block;
    margin: auto 1%;
    width: 20%;
    font-size: 14px;
    color: red;
}
button{
    display: block !important;
    margin: auto !important;
}