
/**********MEUS ATENDIMENTOS****************/

.titulo-atend{
    width: 350px !important;
}
#div-opcoes-prod{
    position: relative;
    display: inline-block;
    width: 200px;
    top: 20px;
    left: 50px;
}

.atendimento{
    width: 96% !important;
    border: 4px #888 double;
    margin-left: 2%;
    height: 80px;
    margin-top: 5px;
}
.urgente{
    border-color: red;
}
.aberto{
    border-color: yellow;
}
.rotulo-dir{
    margin-right: 10px;
    text-align: right;
    width: 20%;
    text-decoration: none;
    color: black;
}
.rotulo-esq{
    width: 75%;
    text-decoration: none;
    color: black;
}
.superior{
    margin-bottom: 5px;
}
.topico{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
}
.tipo{
    width: 200px;
    margin-left: 10px;
}
.nome{
    width: 400px;
    max-width: 450px;
}
.email{
    width: 400px;
    max-width: 450px;
}
.data{
    text-align: right;
    margin-top: 5px;
    font-size: 20px;
}

/**********ATENDIMENTOS-DETALHES****************/

.atend-detalhes{
    width: 90%;
    margin-left: 2%;
    margin-top: 20px;
    font-size: 20px;
}

.subtitulo-resp{
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.atend-tipo,.resp-fechamento{
    text-align: right;
    margin: 30px auto;
    font-weight: bold;
}
.resp-textarea{
    width: 90%;
    margin-left: 2%;
    resize: none;
}
#btn-resp-enviar{
    width: 200px;
    margin-left: 2%;
    margin-top: 20px;
}
#btn-atend-voltar{
    width: 200px;
    margin-right: 8%;
    margin-top: 20px;
}

/**********CATEGORIAS/PRODUTOS***************/

#forms{
    width: 80% !important;
    margin-left: 10%;
}
#categorias-select,#produtos-select{
    width: 85% !important;
    margin-right: 5px;
}
#btn-nova-categ,#btn-novo-prod{
    width: 200px;
}
.categ-icon,.prod-icon{
    width: 20px !important;
    margin: 35px 10px;
}
#insere-categ,#insere-prod{
    width: 90% !important;
    margin-left: 20px;
    margin-top: 20px;
}
#insere-categ .uk-margin,#insere-prod .uk-margin{
    width: 70% !important;
}

#btn-salvar-categ,#btn-cancel-categ,#btn-salvar-prod,#btn-cancel-prod{
    width: 120px;
    margin-left: 20px;
}

/**********NOVO PRODUTO/EDITAR PRODUTO***************/

#form-prod{
    width: 90%;
    margin-left: 5%;
}
#select-prod{
    width: 30%;
}
#peso-prod{
    width: 10%;
    margin-left: 5%;
}
#btn-novo-prod{
    width: 220px;
    margin-top: 42px !important;
}
#btn-voltar-prod{
     width: 220px;
     margin-left: 70px;
    margin-right: -35px;
     margin-top: 42px !important;
 }

