body{
    color: #222;
    width: 100%;
    margin: 0;
}
.hidden{
    display: none !important;
}
.uk-button-primary {
    background-color: green !important;
}
.titulo{
    font-family: "Arial", sans-serif;
    margin-left: 30px;
    margin-top: 70px;
    font-size: 28px;
    font-weight: bold;
}
.subtitulo{
    margin-top: 30px;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.block{
    display: block;
    float: left;
    width: 100%;
}
.left{
    display: inline-block;
    float: left;
    width: 50%;
}
.right{
    display: inline-block;
    float: right;
    width: 50%;
}
.img img{
    width: 100%;
}
.ativo a{
    color: green;
}